<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.study.HqMapper.GoodsMapper">




    <!--在GoodsMapper接口中使用了@Param("goodsId")注解参数，这里就不用指定parameterType
        使用别名来解决列名与属性不一致的问题
    -->
    <sql id="goodsColums">
        goods_id as goodsId ,
        goods_name AS goodsName,
        goods_price as goodsPrice
    </sql>
    <select id="findOneGoods" resultType="Goods">
        SELECT
        <include refid="goodsColums"/>
        FROM Goods WHERE goods_id = #{goodsId}
    </select>


    <!--使用resultMap来解决列名与属性不一致的问题-->
    <resultMap id="goodsMap" type="Goods">
        <result property="goodsId" column="goods_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsPrice" column="goods_price"/>
    </resultMap>
    <select id="findGoods" resultMap="goodsMap">
        SELECT * FROM Goods WHERE goods_id = #{goodsId}
    </select>

    <select id="findAllGoods" resultType="java.util.Map">
        SELECT * FROM Goods
    </select>

    <insert id="insertGoods" parameterType="Goods" >
        insert INTO Goods
        (goods_id,goods_name,goods_price)
        VALUES (#{goodsId},#{goodsName},#{goodsPrice})
    </insert>

    <update id="updateGoods">
        UPDATE Goods SET goods_name=#{1},goods_price=#{2} WHERE goods_id=#{0}
    </update>

    <delete id="deleteGoods" parameterType="long">
        DELETE FROM Goods WHERE goods_id=#{goodsId}
    </delete>
    
</mapper>